.container {
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  /*padding: 60px var(--page-sides-padding);*/
  box-sizing: border-box;
}

.container::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none;
}

.footer {
  flex-shrink: 0;
}
