.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 2rem 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.passwordContainer {
  position: relative;
}

.containerLinks {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 53px 0;
}

.title {
  width: max-content;
  margin-bottom: 95px;
  color: var(--text-color-light);
}

.topLineInfo {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.text{
  color: var(--secondary-color-dark);
}

.textContainer {
  display: flex;
  gap: 5px;
}

.link, a:-webkit-any-link{
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color-light);
}

.icon {
  width: 18px;
  height: 18px;
}

.info {
  color: var(--secondary-color-dark);
  text-align: center;
}