.input {
  background-color: var(--text-color-light);
  color: var(--secondary-color-dark);
  cursor: text;
  caret-color: var(--secondary-color-dark);
  width: 100%;
  height: 41px;
  box-sizing: border-box;
  padding: 0 18px;
  margin-top: 4px;
  outline: none;
  border: 0;
  border-radius: 4px;
  transition: focus .5s;
  position: relative;
  z-index: 1;
}

.inputContainer {
  position: relative;
  min-width: 336px;
  max-width: 336px;
}

.label {
  color: var(--text-color-light);
}

.iconEye {
  background-image: url("../../assets/icons/eye-password-show.svg");
  background-repeat: no-repeat;
  border-style: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 5%;
  display: none;
  cursor: pointer;
  z-index: 10;
}

.iconEyeHide {
  background-image: url("../../assets/icons/eye-password-hide.svg");
}

.input:focus, .filledInput {
  ~ .iconEye {
    display: block;
  }
}