.input {
  background-color: var(--text-color-light);
  color: var(--secondary-color-dark);
  cursor: text;
  caret-color: var(--secondary-color-dark);
  width: 100%;
  height: 41px;
  box-sizing: border-box;
  padding: 0 18px;
  margin-top: 4px;
  outline: none;
  border: 1px solid var(--secondary-color-light);
  border-radius: 4px;
  transition: focus 0.5s;
  position: relative;
  z-index: 1;
}

.invalidInput {
  border-color: var(--service-color-error);
}

.inputContainer {
  position: relative;
  min-width: 336px;
  max-width: 336px;
}

.label {
  color: var(--text-color-light);
}

.iconEye {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.8571C11.11 15.8571 10.24 15.6309 9.49993 15.2071C8.75991 14.7833 8.18314 14.1809 7.84254 13.4761C7.50195 12.7713 7.41283 11.9957 7.58647 11.2475C7.7601 10.4993 8.18868 9.81202 8.81802 9.27259C9.44736 8.73316 10.2492 8.3658 11.1221 8.21697C11.995 8.06814 12.8998 8.14453 13.7221 8.43646C14.5443 8.7284 15.2471 9.22278 15.7416 9.85709C16.2361 10.4914 16.5 11.2371 16.5 12C16.5 13.023 16.0259 14.0041 15.182 14.7274C14.3381 15.4508 13.1935 15.8571 12 15.8571ZM12 6C5 6 2 12 2 12C2 12 5 18 12 18C19 18 22 12 22 12C22 12 19 6 12 6Z' fill='%23808080'/%3E%3Cpath d='M12 14.5C13.6569 14.5 15 13.3807 15 12C15 10.6193 13.6569 9.5 12 9.5C10.3431 9.5 9 10.6193 9 12C9 13.3807 10.3431 14.5 12 14.5Z' fill='%23808080'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border-style: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 5%;
  display: none;
  cursor: pointer;
  z-index: 10;
}

.iconEyeHide {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_738_1387)'%3E%3Cpath d='M11.6144 9.06316L15.0725 12.2564V12.0947C15.0725 11.2907 14.7277 10.5196 14.114 9.95109C13.5002 9.38256 12.6678 9.06316 11.7998 9.06316H11.6144ZM6.92344 9.87158L8.61435 11.4379C8.5598 11.6501 8.52708 11.8623 8.52708 12.0947C8.52708 12.8988 8.87188 13.6699 9.48564 14.2384C10.0994 14.8069 10.9318 15.1263 11.7998 15.1263C12.0398 15.1263 12.2798 15.096 12.5089 15.0455L14.1998 16.6118C13.4689 16.9453 12.6616 17.1474 11.7998 17.1474C10.3532 17.1474 8.96578 16.615 7.94286 15.6675C6.91993 14.7199 6.34526 13.4348 6.34526 12.0947C6.34526 11.2964 6.56344 10.5486 6.92344 9.87158ZM0.890714 4.28337L3.37799 6.58737L3.8689 7.04211C2.0689 8.35579 0.650714 10.0737 -0.200195 12.0947C1.68708 16.5309 6.34526 19.6737 11.7998 19.6737C13.4907 19.6737 15.1053 19.3705 16.578 18.8248L17.0471 19.2493L20.2325 22.2L21.618 20.9166L2.27617 3M11.7998 7.04211C13.2464 7.04211 14.6338 7.57443 15.6568 8.52199C16.6797 9.46954 17.2544 10.7547 17.2544 12.0947C17.2544 12.7415 17.1125 13.368 16.8616 13.9339L20.058 16.8947C21.6943 15.6316 23.0034 13.9743 23.7998 12.0947C21.9125 7.65853 17.2544 4.51579 11.7998 4.51579C10.2725 4.51579 8.81071 4.76842 7.43617 5.22316L9.80344 7.39579C10.4253 7.17347 11.0907 7.04211 11.7998 7.04211Z' fill='%23808080'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_738_1387'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.input:focus,
.filledInput {
  ~ .iconEye {
    display: block;
  }
}
