.page_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 46px;
}

.container_stage {
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  padding: 12px;
}

.title_stage {
  color: var(--accent-color);
  margin-bottom: 8px;
}

.title {
  color: var(--accent-color);
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 32px;
}

.text {
  color: var(--text-color-light);
}

.text_accent {
  color: var(--accent-color);
}

.media {
  width: 100%;
  min-height: 200px;
  border-radius: 4px;
}

.button_container {
  position: fixed;
  bottom: 98px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}