.container {
  display: flex;
  height: 40px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.icon {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
}

.title {
  margin: 0 auto;
  color: var(--text-color-light);
}
