.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block-start: 32px;
    margin-block-end: 40px;
}

.compCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}