.delete_button {
  position: absolute;
  top: 35px;
  right: 0;
  color: var(--service-color-error);
  background-color: var(--background-color-cards);
  border: none;
  border-radius: 4px;
  width: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s ease-out;
}

.button_text {
  min-width: max-content;
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


.comment {
  display: flex;
  flex-direction: column;
  min-width: 335px;
  gap: 12px;
  position: relative;
}

.icon_profile {
  width: 29px;
  height: 29px;
}

.date {
  color: var(--secondary-color-dark);
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color-dark);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--background-color-light);
}

.media {
  width: 100%;
  min-height: 200px;
  border-radius: 4px;
}

.description {
  color: var(--text-color-light);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom_container {
  color: var(--accent-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.reactions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.actions_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}

.like_container {
  background-color: var(--background-color-cards);
}

.dislike_container {
  background-color: var(--background-color-cards);
  color: var(--text-color-light);
}