.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 80%;
    padding-inline-start: 20px;
}

.contentWrapper {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    gap: 8px;
    transition: all 250ms linear;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.content::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
}

.content > * {
    width: 100%;
    height: auto;
    flex-grow: 1;
}