.container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
}

.select {
  margin-bottom: 153px;
}

.selectedStage {
  width: 246px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  right: -4px;
  top: 66px;
  padding: 8px 16px;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  border-radius: 4px;
}

.dates {
  color: var(--text-color-light);
}

.dates > * {
  display: block;
}

.error {
  display: block;
  color: var(--accent-color);
  text-transform: none;
  margin-bottom: 20px;
}

.directionChoice {
  display: block;
  margin-bottom: 54px;
  color: var(--text-color-light);
}

.hidden {
  display: none;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  text-transform: uppercase;
}

.alert {
  width: 273px;
  height: fit-content;
  background-color: var(--background-color-light);
  position: absolute;
  z-index: 100;
  padding: 24px;
  border-radius: 4px;
  color: var(--accent-color);
  text-transform: none;
}

.label::after.alert {
  display: block;
}

.dataForm {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.isNotHidden {
    display: flex;
}

.submitButton {
    margin-top: 54px;
}
