.header {
    height: 3.75rem;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 98px;
    height: 18.8px;
}

.icon {
    padding: 2px;
    width: 24px;
    height: 24px;
}