.header {
    height: 3.75rem;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 4px;
    border: 1px solid var(--text-color-light);
}

.icon {
    padding: 2px;
    width: 24px;
    height: 24px;
}