.container {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0 36px;
    background-color: var(--background-color-dark);
    border-top: 1px solid var(--background-color-cards);
}