.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  background-color: var(--background-color-light);
  border: 1px solid var(--secondary-color-dark);
  border-radius: 4px;
  padding: 12px;
  color: var(--text-color-dark);
  text-align: start;
}

.date {
  color: var(--text-color-dark);
}

.name {
  color: var(--accent-color);
  text-transform: uppercase;
  padding-bottom: 4px;
}
