.container {
    flex-basis: 158px;
    min-height: 158px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--background-color-light);
}

.title {
    color: var(--accent-color);
    padding: 12px 8px;
    min-height: 33.6px;
}

.dates {
    padding: 20px 8px;
    color: var(--secondary-color-dark);
}

.dates > * {
    display: block;
}

.level {
    --block-padding: 12px;
    height: calc(56px - (2 * var(--block-padding)));
    padding: var(--block-padding) 8px;
    margin-top: auto;
    background-color: var(--accent-color);
    color: var(--text-color-light);
}