.container {
  margin-bottom: 18px;
}

.heading {
  text-align: center;
  color: var(--text-color-light);
  margin: 60px;
}

.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 32px;
  max-width: 500px;
  margin: 0 auto;
}
