.selects {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.eventCardsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}